/**
 * Drupal 5.7 Yahoo: UI Framework - Created Xavier Briand
 * From Drupal 5.7 Framework - Created Andre Griffin
 * Grid Stylesheet
 */

body {}

#nav {
  border-bottom:  1px solid #e9eff3;
  border-top:     1px solid #e9eff3;
  margin-right:   10px
}

#sidebar-left {}

#sidebar-right {}

#footer {
  position:   relative;
  border-top: 1px solid #e9eff3;
  margin:     10px 0;
  padding:    5px 0;
}

#footer a.feed-icon {
  position: absolute;
  right:    0;
  top:      5px;
}

ul.links li {
  background:   none;
  margin-right: 10px;
}

.comment {
  border-bottom:  1px solid #e9eff3;
  margin-bottom:  10px;
  padding-bottom: 10px
}

ul.primary-links {
  padding: 5px 0
}

ul.primary-links li a:link,ul.primary-links li a:visited {
  margin-right: 10px;
  padding:      5px 2px
}

ul.secondary-links {
  border-top: 1px solid #e9eff3;
  padding:    2px 0
}

ul.secondary-links li a:link,ul.secondary-links li a:visited {
  margin-right: 10px;
  padding:      2px
}

/*
 * CSS Support
 */
.clear {
  clear:          both;
  display:        block;
  font-size:      0;
  height:         1px;
  line-height:    0;
  margin-bottom:  -1px
}

.clear-block {
  display: block
}