/**
 * Drupal 5.7 Yahoo: UI Framework - Created Xavier Briand
 * From Drupal 5.7 Framework - Created Andre Griffin
 * Typography Stylesheet
 */

a:link,a:visited {
  color:          #069;
  outline:        none;
  text-decoration:none
}

a:hover,a:active,li a.active {
  color:          #f66;
  text-decoration:none
}


.breadcrumb {
  color: #ccc;
}
.breadcrumb a {
  color: #666
}
.breadcrumb a:hover {
  color: #999
}

span.submitted {
  color:     #898989;
  font-size: 77%
}

ul.primary-links {
  font-weight: 700;
}

ul.primary-links li a:hover,ul.primary-links li a:active,
ul.secondary-links li a:hover,ul.secondary-links li a:active {
  text-decoration: underline
}